.st0 {
    display: none;
}

.st1 {
    display: inline;
}

.st2 {
    fill: #C70596;
}

.st3 {
    opacity: 0.5;
}

.st4 {
    fill: #FA38C9;
}

.st5 {
    fill: #FFFFFF;
}

.st6 {
    display: inline;
    fill: #FFFFFF;
}

.st7 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #FA38C9;
}

.st8 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #FFFFFF;
}

.st9 {
    opacity: 0.5;
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #FA38C9;
}

.st10 {
    display: inline;
    fill: #C70596;
}

.st11 {
    fill: #0077FF;
}



.st13 {
    fill: none;
}

.st14 {
    fill: #FBFBFB;
}

.forma {
    fill: #FC9CE4;
    filter: drop-shadow(var(--fio-sys-elevation-sm));
}

.forma-sombra {
    fill:#FC9CE4;
    mix-blend-mode: multiply;
}

.bt-overlay {
    fill: #fff;
    opacity:0;
    transition: linear;
    transition-duration: 0.2s;
}

.bt-overlay:hover {
    opacity:.35;
}


